@import "./variables";

@font-face {
  font-family: 'Pokemon';
  src: url('../assets/PokemonSolid.ttf');
  font-weight: 400;
  font-style: normal;
  }

*{
  box-sizing: border-box;
  
}

body {
  padding-top: 4rem;
  margin: 0px;
  color: $textColor;
  font-family: $fontFamily;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
  cursor: default;
}

button {
  cursor: pointer;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  display: block;
  font-size: 1rem;
  font-family: $fontFamily;
  color: $textColor;
}

a {
  text-decoration: none;
  color: $textColor;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh + 0rem);
}

.AppBody {
  flex: 1;
  background: url(/images/background.png) no-repeat 0% 67%;
}

.container {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.mainContainer {
  margin-top: 2rem;
}

.title {
  font-family: Pokemon;
  line-height: 1;
  font-size: 3rem;
  margin: 1rem 0;
  position: relative;
  z-index: 1;
}

.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft 0.3s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}

.loading {
  height: 2px;
  background: black;
  overflow: hidden;
  max-width: 25%;
  margin: 2rem auto;
  
  &::after {
    content: '';
    display: block;
    width: 75%;
    height: 2px;
    background: $bgColor;
    animation: loading 0.8s linear forwards infinite;
  }
}

@keyframes loading {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(125%);
  }
}