.home {
  overflow: hidden;
  &:hover{
    cursor: url(/images/pokeball.png) 5 5,  auto;
  }
  button {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: clamp(8px, 5vw, 1rem);
    font-weight: 600;
    color: #efefef;
    text-transform: uppercase;
    background-color: #444;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
    &:active {
      box-shadow: inset -4px 4px 0 #222;
      font-size: 0.9rem;
    }
  }
  ul {
    height: 80vh;
    max-height: 550px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 25px;

    li {
      margin: 0 35px;
    }
  }
}