@import "./variables";

.details {
  text-align: center;
  height: 80vh;
  span{
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
  }
}

.pokedex {
  width: 100%;
  max-width: 425px;
}

span.image {
  position: absolute;
  top: 28%;
  z-index: 1;
  left: 30%;
}

.title {
  text-transform: capitalize;
  color: $titleColor;
  text-shadow: 2px 0 $titleBorder, -2px 0 $titleBorder, 0 2px $titleBorder, 0 -2px $titleBorder, 1px 1px $titleBorder, -1px -1px $titleBorder, 1px -1px $titleBorder, -1px 1px $titleBorder;
  letter-spacing: 2px;
  position: absolute;
  font-weight: 600;
  top: 51%;
  right: 27%;
  font-size: clamp(8px, 5vw, 25px);
}

.description {
  width: 63%;
  height: 50px;
  color: #fff;
  background-color: #306e46;
  padding: 3px;
  border: 2px solid #6c001d;
  font-size: 0.7rem;
  font-weight: 100;
  font-family: monospace;
  position: absolute;
  bottom: 20%;
  left: 15%;
  overflow: hidden;
  z-index: 1;
}

.buttons {
  position: absolute;
  bottom: 10%;
  left: 14%;
  width: 65%;
  display: flex;
  gap: 20px;
  z-index: 1;
  .button {
    width: 50%;
    padding: 4%;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: clamp(8px, 5vw, 1rem);
    font-weight: 600;
    color: #efefef;
    text-transform: uppercase;
    background-color: #444;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
    &:active {
      box-shadow: inset -4px 4px 0 #222;
      font-size: 0.9rem;
    }
  }
  
  
}

.typesContainer {
  display: flex;
  align-items: center;
  justify-content: center; 
  position: absolute;
  top: 64%;
  right: 28%;
  z-index: 1;
}

.type {
  padding: .3em 1em;
  margin-right: .5em;
  background: #000;
  color: #fff;
  border: 1px solid #00000075;
  border-radius: 6px;
  text-transform: uppercase;
  font-size: .8em;
  min-width: 89px;
  &.normal {
    background-color: #747464;
  }

  &.fire {
    background-color: #ff2700;
  }

  &.water {
    background-color: #0080ff;
  }

  &.electric {
    background-color: #bb8a00;
  }

  &.grass {
    background-color: #3a8d19;
  }

  &.ice {
    background-color: #6cf;
  }

  &.fighting {
    background-color: #b54;
  }

  &.poison {
    background-color: #e900ba;
  }

  &.ground {
    background-color: #db5;
  }

  &.flying {
    background-color: #324ffd;
  }

  &.psychic {
    background-color: #ff00f7;
  }

  &.bug {
    background-color: #727e0a;
  }

  &.rock {
    background-color: #6a6a6a;
  }

  &.ghost {
    background-color: #6200ff;
  }

  &.dragon {
    background-color: #76e;
  }

  &.dark {
    background-color: #754;
  }

  &.steel {
    background-color: #aab;
  }

  &.fairy {
    background-color: #ff21ff;
  }
}